<main>
  <div class="about-me">
    <h2 class="about-me__title">Nathan Lubawski</h2>
    <img
      class="about-me__img"
      src="./../../../assets/img/nathan.jpg"
      alt="Imagem do Nathan Lubawski"
    />
    <div class="container">
      <p class="about-me__text">
        Olá! Sou o Nathan, um desenvolvedor web full stack, apaixonado por jogos
        de informação incompleta, matemática e codar!
      </p>

      <p class="about-me__text">
        Trabalho com tecnologias como C#,JavaScript, Nodejs, React.js, HTML5 e
        CSS3. Atualmente estou aprendendo Typescript e Angular.
      </p>
      <p class="about-me__text">
        Eu já desenvolvi vários projetos individuais e em equipe, onde tive
        bastante contato com Git e metodologias ágeis (Scrum). Além de todo
        conhecimento técnico, a formação na Driven me ajudou a desenvolver
        habilidades show de bola, como gerenciar meu tempo, minhas emoções, a
        trabalhar em equipe e me comunicar melhor.
      </p>

      <p class="about-me__text">
        Possuo experiencias passadas como professor particular, tutor e
        pesquisador. Essas experiências foram todas ligadas a matemática e me
        ajudaram a desenvolver a comunicação, resiliência e a aprender coisas
        complexas num curto espaço de tempo.
      </p>
    </div>
  </div>
</main>
